SNUSProjekat/DatabaseManager/Connected Services/ServiceReference/DatabaseManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58413/DatabaseManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58413/DatabaseManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_LoadScadaConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadScadaConfig" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_LoadScadaConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadScadaConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_GetOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_GetOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeScanState_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeScanState" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeScanState_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeScanStateResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddDigitalInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddDigitalInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddDigitalOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddDigitalOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAnalogInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAnalogInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAnalogOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAnalogOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_RemoveAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarm" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_RemoveAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarmResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Registration" message="tns:IAuthentication_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/RegistrationResponse" message="tns:IAuthentication_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Login" message="tns:IAuthentication_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/LoginResponse" message="tns:IAuthentication_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Logout" message="tns:IAuthentication_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/LogoutResponse" message="tns:IAuthentication_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDatabaseManager">
    <wsdl:operation name="LoadScadaConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/LoadScadaConfig" message="tns:IDatabaseManager_LoadScadaConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/LoadScadaConfigResponse" message="tns:IDatabaseManager_LoadScadaConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeOutputValue" message="tns:IDatabaseManager_ChangeOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeOutputValueResponse" message="tns:IDatabaseManager_ChangeOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/GetOutputValue" message="tns:IDatabaseManager_GetOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/GetOutputValueResponse" message="tns:IDatabaseManager_GetOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeScanState">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeScanState" message="tns:IDatabaseManager_ChangeScanState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeScanStateResponse" message="tns:IDatabaseManager_ChangeScanState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/AddDigitalInputTag" message="tns:IDatabaseManager_AddDigitalInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/AddDigitalInputTagResponse" message="tns:IDatabaseManager_AddDigitalInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/AddDigitalOutputTag" message="tns:IDatabaseManager_AddDigitalOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/AddDigitalOutputTagResponse" message="tns:IDatabaseManager_AddDigitalOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/AddAnalogInputTag" message="tns:IDatabaseManager_AddAnalogInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/AddAnalogInputTagResponse" message="tns:IDatabaseManager_AddAnalogInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/AddAnalogOutputTag" message="tns:IDatabaseManager_AddAnalogOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/AddAnalogOutputTagResponse" message="tns:IDatabaseManager_AddAnalogOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/RemoveTag" message="tns:IDatabaseManager_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/RemoveTagResponse" message="tns:IDatabaseManager_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/AddAlarm" message="tns:IDatabaseManager_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/AddAlarmResponse" message="tns:IDatabaseManager_AddAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/RemoveAlarm" message="tns:IDatabaseManager_RemoveAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/RemoveAlarmResponse" message="tns:IDatabaseManager_RemoveAlarm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentication" type="tns:IAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDatabaseManager" type="tns:IDatabaseManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadScadaConfig">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/LoadScadaConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/ChangeOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/GetOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeScanState">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/ChangeScanState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalInputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/AddDigitalInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/AddDigitalOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/AddAnalogInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/AddAnalogOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/RemoveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/RemoveAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseManager">
    <wsdl:port name="BasicHttpBinding_IAuthentication" binding="tns:BasicHttpBinding_IAuthentication">
      <soap:address location="http://localhost:58413/DatabaseManager.svc/Authenticate" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDatabaseManager" binding="tns:BasicHttpBinding_IDatabaseManager">
      <soap:address location="http://localhost:58413/DatabaseManager.svc/DBManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>