SNUSProjekat/ReportManager/Connected Services/ServiceReference/ReportManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SNUSProjekat" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SNUSProjekat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTriggeredAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TriggeredAlarm" nillable="true" type="tns:TriggeredAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTriggeredAlarm" nillable="true" type="tns:ArrayOfTriggeredAlarm" />
  <xs:complexType name="TriggeredAlarm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Alarm">
        <xs:sequence>
          <xs:element minOccurs="0" name="TriggerTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TriggerValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeredAlarm" nillable="true" type="tns:TriggeredAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:complexType name="ArrayOfTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagValue" nillable="true" type="tns:TagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagValue" nillable="true" type="tns:ArrayOfTagValue" />
  <xs:complexType name="TagValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="ValueTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagValue" nillable="true" type="tns:TagValue" />
</xs:schema>